@import "tailwindcss";

@theme {
  --color-primary: #9333ea;
  --color-primary-light: #d8b4fe;
  --color-primary-hover: #7e22ce;
  
  --font-display: 'Inter', system-ui, sans-serif;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #f3f4f6;
  color: #1f2937;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: pink !important; /* DEBUGGING: If this shows, CSS is loading */
}
